/* reset CSS
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------*/
html,
body {
  height: 100%;
  max-width: 1920px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}


/*encabezado*/
header #header {
  display: flex;
  flex-direction: column;
  height: 250px;
  background-color: #000;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#info {
  display: inline-flex;
  width: 100%;
  color: #fff;
  font-size: 15px;
  font-weight: 300px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

#info p {
  margin: 15px 25px
}

#navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logotype {
  width: 40%;
}

#bar {
  width: 60%;
}

#bar ul {
  display: inline-flex;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 0px;
}

#bar ul li {
  margin: auto 20px;
}

#logotype .logo {
  width: 150px;
  height: 150px;
  margin: 10px 50px;
  background-color: #fff;
  border-radius: 10px;
}