/* reset CSS
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------*/
html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ff7f7f;
}


/*encabezado*/
header {
  background-color: #000;
}

header #header {
  display: flex;
  max-width: 1440px;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: auto;
}

#info {
  display: inline-flex;
  width: 100%;
  color: #fff;
  font-size: 15px;
  font-weight: 300px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

#info p {
  margin: 15px 25px;
}

#navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

#logotype {
  width: 40%;
}

#logotype .logo {
  width: 100px;
  height: 100px;
  margin: 10px 50px;
  background-color: #fff;
  border-radius: 10px;
}

#bar {
  width: 60%;
}

#bar ul {
  display: inline-flex;
  text-decoration: none;
  margin-right: 0px;
}

#bar ul li {
  font-size: 18px;
  font-weight: 100;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: auto 20px;
  display: inline-block;
}



#background {
  height: fit-content;
  text-align: center;
  margin-bottom: -5px;
}

.backgroundImage {
  display: inline-flex;
}

.backgroundImage img {
  height: 600px;
  border-radius: 5px;
}


#background .backgroundImage .tittle {
  width: auto;
  margin: auto 50px;
  justify-content: center;
  text-align: justify;
  line-height: 1.5;
  font-size: 40px;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #000;
}


main {
  background-color: #000;
  height: 700px;
}

main #services {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#services .description {
  margin: 50px auto;
}

.tittle {
  color: #fff;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#services .description .infoDescription {
  color: #fff;
  margin: 20px 120px;
  padding: 22px;
  border: 1px solid rgba(255, 127, 80, 0.5);
  border-radius: 40px;
}

#services .description .infoDescription p {
  font-size: 20px;
  font-weight: 120;
  line-height: 1.7;

}

#services .description hr {
  border: none;
  height: 10px;
  background-color: coral;
  width: 30%;
  border-radius: 10px;
  margin: 40px auto;
}

#about {
  background-color: #ff7f7f;
  height: fit-content;
  margin: auto auto 60px auto;
}

#about #aboutGym {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}

#about .tittle {
  text-align: center;
  color: #000;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 60px 50px 20px 100px;
  text-align: left;

}

#about .infoDescription {
  font-size: 25px;
  padding: 0 100px;
  text-align: justify;
}

#about #aboutGym .backgroundImage {
  margin: auto;
}

#about #aboutGym .backgroundImage img {
  width: 600px;
  height: fit-content;
}

#schedules {
  height: fit-content;
  background-color: #000;
}

#schedules2 {
  max-width: 1440px;
  padding: 20px;
  margin: auto;
  text-align: center;
}


#schedules2 table {
  color: #fff;
  margin: 30px auto;
  line-height: 2.2;
}

#schedules table th,
#schedules table td {
  border: 1px solid #fff;
  padding: 8px;
}

#schedules table tr {
  color: #000;
  font-weight: bold;
  font-style: italic;
}

#schedules table tr th {
  text-align: center;
  margin: auto 20px;

  background-color: #f2f2f2;
  /* Fondo gris claro para las celdas de encabezado */
  font-size: 22px;
  /* Tamaño de fuente de 16px para los encabezados */

}

#schedules table tr td {
  text-align: left;
  color: #fff;
}